body
/*fungsi animasi*/
{
  background: linear-gradient(50deg,  #3b3b3b, #0f0f0f);
  background-size: 1000% 1000%;

  animation: animasibg 3s ease infinite;
  display: grid;
  place-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: bold;
  color:  #66ff01;
}
@keyframes animasibg {
    0%{background-position:0% 87%}
    50%{background-position:100% 14%}
    100%{background-position:0% 87%}
}
